body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }


.content {
    max-width: 50%;
    padding: 20px;
}

h2 {
    color: red;
    font-size: 1.2em;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.3s ease;
    border-radius: 4px;
}

button:hover {
    transform: scale(1.1);
}

.image-container {
    max-width: 50%;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.contact-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.contact-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #333;
}

.contact-form input[type="email"],
.contact-form input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
}

.contact-form .name-fields {
    display: flex;
    justify-content: space-between;
}

.contact-form .field {
    width: 48%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.contact-form button {
    background-color: #ff0066;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    width: 100%;
}

.contact-form button:hover {
    transform: scale(1.1);
}
